@model IEnumerable<Library.Models.LibraryModel.Book>
@{
    ViewData["Title"] = "Results";
}
<div class="table-intro">
    <h2>Results</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Language</th>
            <th>Pages</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Library.Models.LibraryModel.Book book in Model)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Language</td>
                <td>@book.Pages</td>
                <td>@book.Publisher</td>
            </tr>
        }
    </tbody>
</table>